.test {
    height: 80vw;
    width: 80vw;
    
    background-color: brown;
    margin-left:10px;
    margin-top: 10px;
}

.black, .yellow {
    
    height: 8vw;
  

}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
    margin-top: 15px;
}