body {
    background-color: lightgray;
}

/* Setting the colors */

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;

}

.orange {
    background-color: orange;

}

.red {
    background-color: red;

}

/*setting size for squares */

.square {
    height: calc(100vw / 12);
    border: 1px solid lightgray;
    
    
}

.test {
    width: 100%;
    margin-top: 10px;
}
/* setting sizes for first-column starting squares
in order to center the picture. */

.first {
    margin-left: calc(100vw / 24);
}


