body {
    position: relative;
    height: 100vh;
    background: whitesmoke;
}

footer {
    position: absolute;
    font-size: 0.8em;
    bottom: 5px;
    font-size: italic;
    width: 100%;  

}
footer p {
    text-align: center;
   
}

header {
    text-align: center;
    margin: 3em;
}
header h1 {
    color: orange;
    font-weight: 600;
}

section p, section figure {
    border:3px solid orange;
    background: rgba(255, 165, 0, 0.2);
    color: rgb(28, 63, 129);
}
section figure {
    margin-bottom: 15px;
}

figure img {
    padding: 10px;
}
figcaption {
    margin: 10px;
}

section p {
    padding: 1em;        
}

