body {
    position: relative;
    height: 100vh;
    background: whitesmoke;
}

footer {
    position: absolute;
    font-size: 0.8em;
    bottom: 5px;
    font-size: italic;
    width: 100%;  

}
footer p {
    text-align: center;
   
}

header {
    text-align: center;
    margin: 3em;
}

section p, section img {
    border:3px solid orange;
}
section img {
    margin-bottom: 15px;
}

section p {
    background-color: white;
    padding: 1em;
        
}