@font-face {
    font-family: "Aniron";
    src: url("fonts/anicb___.ttf");
  }

@font-face {
    font-family: "Symbols";
    src: url("fonts/tngani.ttf");
}

@font-face {
    font-family: "PartyBusiness";
    src: url("fonts/partybusiness.ttf");
}

body {
    font-size: 16px;
}

h1, h2, h3 {
    font-family: Aniron;
}

p, li, a, label {
    font-family: PartyBusiness;
}

a {
    color: whitesmoke;
}

img {
    max-width: 100%;
}
/* Nabar*/

.navbar {
    background-color: orange;
}

.navbar a {
    color: whitesmoke;
    font-size: 1.5em;
}

.navbar a:hover {
    font-weight: bold;
}

.navbar-toggler-icon {
    color: whitesmoke;
}

/* Caroussel */

.carousel-item {
    height: 400px;
    background-image: url("images/dark_vador.jpg");
    background-position: center;
}

.carousel-caption {
    position: absolute;

}

/*pills*/
.nav-pills a {
    color: orange;
    font-size: 1.5em;
}
.nav-pills .active {
    text-decoration: underline;
}


/* Footer */

footer {
    background-color: orange;
}

footer ul li {
    list-style-type: none;
}
/*
TODO: mediaquerie to reposition jumbotron image on small devices (< 765)
*/